github "ReactiveCocoa/ReactiveCocoa"
github "Moya/Moya"
github "mdiep/MDPSplitView"
github "SwiftyJSON/SwiftyJSON"
github "Hearst-DD/ObjectMapper"
github "SnapKit/SnapKit"
github "indragiek/CocoaMarkdown" "master"
github "robbiehanson/CocoaAsyncSocket"
github "DenHeadless/ClosureKit"
